#contact {
    min-height: 100vh;
    padding-top: 45px !important;
    background-color: #1d1d1d;
}
#head-contact {
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
        height: 4px;
        width: 70px;
        background-color: #E5383B;
    }
}
#contact-form {
    display: flex;
    justify-content: center;
    text-align: left;
    margin: 30px 0;
    form {
        * {
            margin: 0;
            padding: 1em;
            background-color: #2d2d2d;
            color: #fff
        }
    }
    button, input, textarea {
        width: 100%;
        padding: .7em;
        border: none;
        outline: none;
        border-bottom: 1px solid #E5383B;
    }
    button {
        background-color: #2d2d2d;
        border: 2px solid #E5383B;
        text-transform: uppercase;
        color: #000;
        padding: 1em;
        transition: .3s;
        &:hover {
            background-color: #E5383B;
            color: #fff;
        }
    }
}
