footer {
    #redes {
        display: flex;
        justify-content: center;
        align-items: center;
        * {
            padding: 5px;
        }
        li {
            display: block;
            list-style: none;
            cursor: pointer;
            transition: .5s;
            &:hover {
                transform: rotateY(180deg);
            }
            a {
                text-decoration: none;
                font-size: 1.5rem;
                .fa-instagram {
                    color: #c32aa3;
                }
                .fa-facebook {
                    color: #1877f2;
                }
                .fa-github {
                    color: #fff;
                }
                .fa-linkedin {
                    color: #0077b5;
                }
            }
        }
    }
}