:root {
    --skills-bar:0%
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway';
    text-align: center;
}
html {
    scroll-behavior: smooth;

}
.title {
    color: $primary-color;
    font-size: 25px;
}
.subtitle {
    color: $primary-color;
    font-size: 20px;
}
a {
    text-decoration: none;
    color: $primary-color;
}
p {
    color: #fff;
}


$primary-color: #E5383B;